{{ define "main" }}

<div class="meta swup">
{{ partial "article-meta.html" . }}
</div>

<div class="content content--taxonomy swup">
  <div class="search__noresult none">
    <div class="search__noresult--textinvisible none">{{ .Site.Params.searchNoresult | safeHTML }}</div>
    <div class="search__noresult--wait none">{{ .Site.Params.searchWait | safeHTML }}</div>
  </div>
  <div class="search__results"></div>
  
  <ul class="taxonomy__list">
    {{ range .Pages.ByTitle }}
      <li class="taxonomy__term"><a href="{{ .Permalink }}">[{{ .Params.title | markdownify }}]</a></li>
    {{ end }}
  </ul>

</div>

{{ end }}
