<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>

<div class="container">
    {{ partial "header.html" . }}

      {{ block "main" . }}
      {{ end }}

    <div class="transition-swipe cover">
      <div class="spinner"></div>
    </div>

  {{ partial "search.html" . }}

  {{ partial "footer.html" . }}
</div>
    <div class="table">
    <div class="tableofcontents">
      <h1 class="table__title swup">{{ .Site.Params.tableTitle }}</h1>
      <div class="table__random">
        <a class="shuffle shuffle--link" href="#"><span class="swup">{{ .Site.Params.tableRandom | safeHTML }}</span></a>
      </div>
      <div class="table__description">
        <button class="shuffle shuffle--list"><span class="swup">{{ .Site.Params.tableOrderTxt | safeHTML }}</span></button>
      </div>
      <ul class="table__list swup">
      {{ $pages := .Site.RegularPages }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge .Site.RegularPages }}
      {{ end }}
      {{- range where $pages "Section" "articles" -}}
      {{- $title := .Title | markdownify -}}
      {{- if eq .Lang "fr" -}}
      {{- $title = replace $title "&ldquo;" "«&nbsp;" -}}
      {{- $title = replace $title "&rdquo;" "&nbsp;»" -}}
      {{- else if eq .Lang "it" -}}
      {{- $title = replace $title "&ldquo;" "«" -}}
      {{- $title = replace $title "&rdquo;" "»" -}}
      {{- else if eq .Lang "de" -}}
      {{- $title = replace $title "&ldquo;" "»" -}}
      {{- $title = replace $title "&rdquo;" "«" -}}
      {{- end -}}
        <li class="table__item">
          <h2 class="table__item-title"><a href="{{ .Permalink }}">{{ $title | safeHTML }}</a></h2>
          <div class="table__item-subtitle">{{ .Params.subtitle | markdownify }}</div>
          <div class="table__item-author">{{ .Params.author | markdownify }}</div>
          <div class="table__item-lang">
          {{ if .IsTranslated -}}
          {{- $lang := .Lang -}}
            {{- $link := .RelPermalink -}}
            {{- $lang := .Lang -}}
            [<a href="{{ $link }}" hreflang="{{ $lang }}" lang="{{ $lang }}">{{ $lang }}</a>]
          {{ range .Translations }}
          {{- $link := .RelPermalink -}}
          {{- $lang := .Lang -}}
            [<a href="{{ $link }}" hreflang="{{ $lang }}" lang="{{ $lang }}">{{ $lang }}</a>]
          {{ end -}}
          {{ else }}
            {{- $link := .RelPermalink -}}
            {{ range $i, $e := .Params.langtxt }}
              [<a href="{{ $link }}" hreflang="{{ $e }}" lang="{{ $e }}">{{ $e }}</a>]
            {{ end }}
          {{ end -}}
          </div>
          <div class="table__item-categories">{{ range $i, $e := .Params.categories }}{{ if $i }} {{ end }}[<a href="{{ "categories/" | absLangURL }}{{ $e | urlize }}">{{ $e }}</a>]{{ end }}</div>
        </li>
      {{- end -}}
      </ul>
    </div>
    </div>
    <div class="hack swup"></div>

  {{ partial "scripts-footer.html" . }}
</body>
</html>

