{{ define "main" }}

    <div class="meta swup">
      {{ partial "article-meta.html" . }}
    </div>
    <div class="content swup">
      {{ partial "article-content.html" . }}
    </div>

{{ end }}

