{{ define "main" }}

<div class="meta swup">
  {{ partial "article-meta.html" . }}
</div>

<div class="content content--taxonomy swup">
  <div class="search__noresult none">
    <div class="search__noresult--textinvisible none">{{ .Site.Params.searchNoresult | safeHTML }}</div>
    <div class="search__noresult--wait none">{{ .Site.Params.searchWait | safeHTML }}</div>
  </div>
  <div class="search__results"></div>
  
  <div class="taxonomy__list taxonomy__list--nomargin">
    {{ range .Pages }}
        {{- $title := .Params.title | markdownify -}}
        {{- $title = replace $title "&ldquo;" "«&nbsp;" -}}
        {{- $title = replace $title "&rdquo;" "&nbsp;»" -}}
      <h2 class="taxonomy__title"><a href="{{ .Permalink }}">{{ $title | safeHTML }}</a></h2>
      <div class="taxonomy__subtitle">{{ .Params.subtitle | markdownify }}</div>
      <div class="taxonomy__authors">{{ .Params.author | markdownify }}</div>
      <div class="taxonomy__lang">
      {{ if .IsTranslated -}}
      {{- $lang := .Lang -}}
        {{- $link := .RelPermalink -}}
        {{- $lang := .Lang -}}
        [<a href="{{ $link }}" hreflang="{{ $lang }}" lang="{{ $lang }}">{{ $lang }}</a>]
      {{ range .Translations }}
      {{- $link := .RelPermalink -}}
      {{- $lang := .Lang -}}
        [<a href="{{ $link }}" hreflang="{{ $lang }}" lang="{{ $lang }}">{{ $lang }}</a>]
      {{ end -}}
      {{ else }}
        {{- $link := .RelPermalink -}}
        {{ range $i, $e := .Params.langtxt }}
          [<a href="{{ $link }}" hreflang="{{ $e }}" lang="{{ $e }}">{{ $e }}</a>]
        {{ end }}
      {{ end -}}
      </div>
      <div class="taxonomy__categories">{{ range $i, $e := .Params.categories }}{{ if $i }} {{ end }}[<a href="{{ "categories/" | absLangURL }}{{ $e | urlize }}">{{ $e }}</a>]{{ end }}</div>
    {{ end }}
  </div>

</div>

{{ end }}
