<button class="button article__menu" aria-label="Menu Article"></button>
<div class="article__nav">
<div class="article__title--wrap">
<h1 class="article__title">
{{- $title := .Title | markdownify -}}
{{- $title = replace $title "&ldquo;" "«&nbsp;" -}}
{{- $title = replace $title "&rdquo;" "&nbsp;»" -}}
    <a class="baffle" href="{{ .Permalink }}">{{ $title | safeHTML }}</a>
</h1>
</div>

<div class="article__nav--wrap {{ if ne .Section "articles" -}} article__nav--metapage{{- end }}">
{{- if or (isset .Params "subtitle") (isset .Params "metatext") }}
<div class="article__info">
  {{- if .Params.subtitle }}
  <div class="article__subtitle">
  {{ .Params.subtitle | markdownify }}
  </div>
  {{ end }}
  {{ if .Params.author }}
  <div class="article__author">
  {{ .Params.author }}
  </div>
  {{ end -}}
  {{- if .Params.info }}
  <div class="article__context">
  {{ .Params.info | markdownify }}
  </div>
  {{ end -}}
  {{- if .Params.meta }}
  {{- if .Params.metatext }}
  <div class="article__metatext">
  {{ .Params.metatext | markdownify }}
  </div>
  {{ end -}}
  {{ end -}}
  {{- if .Params.datepub }}
  <div class="article__date">
  {{ .Params.datepub }}
  </div>
  {{ end -}}
  {{- if and (.IsTranslated) (isset .Params "subtitle") }}
  <div class="article__traduction">
  {{ range .Translations }}
  {{- $link := .RelPermalink -}}
  {{- $lang := .Lang -}}
    [<a href="{{ $link }}" hreflang="{{ $lang }}" lang="{{ $lang }}">{{ $lang }}</a>]
  {{ end }}
  </div>
  {{ end -}}
</div>
{{ end -}}

{{- if .Params.categories -}}
<div class="article__categories">
  <ul>
  {{- range (.GetTerms "categories") -}}
  <li><a href="{{ .Permalink }}">[{{ .LinkTitle | markdownify }}]</a></li>
  {{- end -}}
  </ul>
</div>
{{- end -}}

{{ if eq .Section "articles" }}
{{ with .File }}
<div class="article__download">
  <div class="plain"><a href="{{ $.Site.BaseURL }}etc/{{ .Lang }}/{{ .TranslationBaseName }}.pdf" target="_blank" rel="nofollow noopener" data-no-swup>{{ $.Site.Params.antipdf }}</a></div><div class="bind"><a href="{{ $.Site.BaseURL }}etc/{{ .Lang }}/{{ .TranslationBaseName }}-antizine.pdf" target="_blank" rel="nofollow noopener" data-no-swup>{{ $.Site.Params.antizine }}</a></div>
</div>
{{ end }}
{{ end }}
</div>
</div>
