<div class="article__content">
  <div class="search__noresult none">
    <div class="search__noresult--textinvisible none">{{ .Site.Params.searchNoresult | safeHTML }}</div>
    <div class="search__noresult--wait none">{{ .Site.Params.searchWait | safeHTML }}</div>
  </div>
  <div class="search__results"></div>
  {{ if eq .Params.hangindent true }}
  <div class="hangindent">
  {{ partial "typography.html" . }}
  </div>
  {{ else }}
  {{ partial "typography.html" . }}
  {{ end }}
</div> 
