<div class="footer">
<nav class="footer__menu">
  <button class="footer__button button button--dark-mode" aria-label="Menu" tabindex="1">N</button><button class="footer__button button button--table" aria-label="Menu" tabindex="1">S</button><button class="footer__button button button--menu button--hack" aria-label="Menu" tabindex="1">P</button>
</nav>
</div>
