<nav class="menu menu--taxo">
{{- range where .Site.Pages "Type" "taxonomyindex" -}}
<div class="menu__item">
  <a class="menu__item-link swup" href="{{ .RelPermalink }}"><div class="marquee"><span class="marquee__element">{{ .Title | lower }}</span></div></a>
</div>
{{ end }}
</nav>

<nav class="menu menu--about">
{{ range (where .Site.RegularPages "Section" "meta").ByParam "num" }}
<div class="menu__item">
  <a class="menu__item-link swup" href="{{ .RelPermalink }}"><div class="marquee"><span class="marquee__element">{{ .Title | lower }}</span></div></a>
</div>
{{ end }}
</nav>

<nav class="menu menu--lang">
{{ range $.Site.Home.AllTranslations -}}
{{ $langglobal := .Lang }}
{{ $langname := .Language.LanguageName }}
{{ $langglobal := .Lang }}
  {{ if .IsTranslated -}}
    {{ if eq "Section" "articles" }}
      {{ range $.Page.Translations }}
      {{ $langlocal := .Lang }}
        {{ if eq $langlocal $langglobal }}
          <div class="menu__item swup"><a class="menu__item-link" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}"><div class="marquee"><span class="marquee__element">{{ $langname }}</span></div></a></div>
        {{ end }}
      {{ end }}
      {{ if eq $.Page.Lang $langglobal }}
        <div class="menu__item swup">
          <a class="menu__item-link active" role="link" aria-disabled="true"><div class="marquee"><span class="marquee__element">{{ .Language.LanguageName | lower }}</span></div></a>
        </div>
      {{ else if not (in $.Page.Params.langtxt $langglobal) }}
        <div class="menu__item swup">
          <a class="menu__item-link active" role="link" aria-disabled="true"><div class="marquee"><span class="marquee__element">{{ .Language.LanguageName | lower }}</span></div></a>
        </div>
      {{ end }}
    {{ else }}
      {{ $scratch := newScratch }}
      {{ range $.Page.Translations }}
      {{ $langlocal := .Lang }}
        {{ if eq $langlocal $langglobal }}
          {{ $scratch.Add "used" (slice $langlocal ) }}
          <div class="menu__item swup"><a class="menu__item-link" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}"><div class="marquee"><span class="marquee__element">{{ $langname }}</span></div></a></div>
        {{ end }}
      {{ end }}
      {{ $arr := $scratch.Get "used" }}
      {{ if eq $.Page.Lang $langglobal }}
        <div class="menu__item swup"><a class="menu__item-link active" role="link" aria-disabled="true"><div class="marquee"><span class="marquee__element">{{ .Language.LanguageName | lower }}</span></div></a></div>
      {{ else if not (in $arr $langglobal) }}
        <div class="menu__item swup"><a class="menu__item-link active" role="link" aria-disabled="true"><div class="marquee"><span class="marquee__element">{{ .Language.LanguageName | lower }}</span></div></a></div>
      {{ end }}
    {{ end }}
  {{ else }}
  <div class="menu__item swup"><a class="menu__item-link active" role="link" aria-disabled="true"><div class="marquee"><span class="marquee__element">{{ .Language.LanguageName | lower }}</span></div></a></div>
  {{ end -}}
{{ end -}}
</nav>

<header class="header">
<div class="header__title">
  <h1 class="header__home header__home--invisible" aria-hidden="true"><span class="swup">{{ .Site.Title }}</span></h1>
  <h1 class="header__home header__home--border"><a class="swup" href="{{ .Site.BaseURL }}{{ if ne .Lang "fr" }}{{ .Lang }}{{ end }}" tabindex="1"><span class="baffle">{{ .Site.Title }}</span></a></h1>
</div>

<nav class="header__menu">
  <button class="header__button button button--about" aria-label="Menu" tabindex="1">?</button><button class="header__button button button--taxo" aria-label="Menu" tabindex="1">#</button><button class="header__button button button--lang" aria-label="Menu" tabindex="1"><span class="swup">{{ .Lang }}<span></span></button>
</nav>
</header>
