<div class="meta meta--home swup">
  <div class="carre" role="img" aria-label="[GIF d'un carré noir sur fond blanc]"></div>
</div>
<div class="content content--home swup">
  <div class="search__noresult none">
    <div class="search__noresult--textinvisible none">{{ .Site.Params.searchNoresult | safeHTML }}</div>
    <div class="search__noresult--wait none">{{ .Site.Params.searchWait | safeHTML }}</div>
  </div>
  <div class="search__results"></div>
  <div class="slogan">
    <div class="slogan__text">{{ .Site.Params.titleHome | safeHTML }}</div>
  </div>
</div>
