{{ define "main" }}
    <div class="meta swup">
    </div>
    <div class="content swup">
      <div class="article__content">
  <div class="search__noresult none">
    <div class="search__noresult--textinvisible none">{{ .Site.Params.searchNoresult | safeHTML }}</div>
    <div class="search__noresult--wait none">{{ .Site.Params.searchWait | safeHTML }}</div>
  </div>
  <div class="search__results"></div>
  <p><span class="baffle">Nous sommes </span><em class="baffle">404 fois</em><span class="baffle"> partout.</span></p>
      </div>
    </div>
{{ end }}

