/*!
 * Style
 */

@font-face {
  font-family: 'Crimson';
  src: url('/css/fonts/crimson/crimson-bold.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src: url('/css/fonts/crimson/crimson-italic.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src: url('/css/fonts/crimson/crimson-bolditalic.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src: url('/css/fonts/crimson/crimson-roman.woff2') format('woff2'),
    url('/css/fonts/crimson/crimson-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-fg-rgb);
  text-shadow: none;
}

:root {
  --color-fg: #000;
  --color-fg-rgb: rgba(0,0,0,0.99);
  --color-fg-text: #000;
  --color-anim: #000;
  --color-bg: #fff;
  --color-gray: #aaa;
  --border-width: 2px;
  --carre-noir: url('/img/carre-nb.gif');
  --carre-blanc: url('/img/carre-bn.gif');
  --header-height: 4rem;
  --footer-height: 4rem;
  --max-width: 66ch;
  --line-space: 1em;
  --title-size: 1em;
}

@media (min-width: 22em) {
  /* 352px */
  :root {
    --title-size: 1.1em;
  }
}

@media (min-width: 50em) {
  /* 800px */
  :root {
    --title-size: 1.4em;
    --header-height: 6rem;
    --footer-height: 6rem;
  }
}

[data-theme='dark'] {
  --color-fg: #fff;
  --color-fg-rgb: rgba(255,255,255,0.99);
  --color-fg-text: #fff;
  --color-anim: #fff;
  --color-bg: #000;
  --color-gray: #555;
  --carre-noir: url('/img/carre-bn.gif');
  --carre-blanc: url('/img/carre-nb.gif');
}

*,
::before,
::after {
  box-sizing: border-box;
  font-size: 1em;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Crimson', Garamond, Georgia, Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  color: var(--color-fg-text);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.6;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 18.75em) {
  /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(14px + (24 - 16) * ((100vw - 300px) / (1440 - 300)));
  }
}

@media screen and (min-width: 90em) {
  /* 1440 px */
  body {
    font-size: 2.4rem;
  }
}

p {
  /* max-width: var(--max-width); */
  margin: 0 0 var(--line-space);
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
  color: var(--color-fg-text);
}

main,
header,
footer,
article,
section {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

main {
  display: block;
  margin: 0 auto;
}

header {
  text-align: center;
}

footer {
  color: var(--color-light-fg);
  margin: 2em 0 1em;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

em {
  font-style: italic;
}

em em {
  font-style: normal;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: var(--line-space) 0;
  /* max-width: var(--max-width); */
  line-height: inherit;
  font-weight: bold;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 0;
}

div + h1,
p + h1 {
  margin-top: calc(2 * var(--line-space));
}

div + h2,
p + h2 {
  margin-top: calc(2 * var(--line-space));
}

div + h3,
p + h3 {
  margin-top: calc(1 * var(--line-space));
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 1em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

/* Tapping delay off */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

a {
  color: var(--color-fg-text);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: var(--border-width);
  text-decoration-color: var(--color-fg-text);
  outline: none;
}

a:hover,
a:focus,
a:active {
  /* background: var(--color-fg); */
  /* color: var(--color-bg); */
  /* text-decoration: none; */
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-thickness: var(--border-width);
  text-decoration-color: var(--color-fg-text);
  color: var(--color-fg);
  background: unset;
}

img {
  max-height: 85.4vh;
  display: block;
  max-width: 100%;
  /* height: auto; */
  /* filter: url(#duotone); */
}

img:hover,
img:focus,
img:active {
  filter: invert(100%);
}

/* With Lazyload: prevents img without src to appear */
img:not([src]) {
  visibility: hidden;
}

figure {
  margin: 0 0 1.6em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

video {
  width: 100%;
  /* outline: none; */
  border: 0;
}

iframe {
  border-style: none;
  /* max-width: var(--max-width); */
  width: 100%;
}

svg:not([fill]) {
  fill: currentColor;
}

pre {
  display: block;
  text-indent: none;
  width: 80%;
  font-family: 'Fira Mono', 'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 0.8em;
  background-color: var(--color-light-bg);
  border-left: var(--border-width) solid var(--color-fg);
  padding: 1em 2em;
  margin: 1em var(--line-space);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  /* max-width: var(--max-width); */
}

code,
kbd {
  font-family: 'Fira Mono', 'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  font-size: 0.8em;
  background-color: var(--color-light-bg);
  border: none;
  padding: 0.2em 1em;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

blockquote {
  display: block;
  width: 80%;
  font-size: 0.8em;
  font-style: italic;
  /* background-color: var(--color-light-bg); */
  border-left: var(--border-width) solid var(--color-fg);
  padding: var(--line-space);
  margin: var(--line-space) 0;
  /* max-width: var(--max-width); */
}

blockquote p {
  margin: 0;
}

blockquote p + p {
  margin-top: 1em;
}

textarea {
  overflow: auto;
  resize: vertical;
}

hr {
  display: block;
  height: var(--border-width);
  /* max-width: calc(var(--max-width)); */
  max-width: 200px;
  margin: 0;
  border: 0;
  border-top: var(--border-width) solid var(--color-fg);
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

table {
  max-width: 100%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

table tr {
  background-color: var(--color-light-bg);
  padding: 0.5em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 60em) {
  /* smaller than 960px */
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table th,
  table td {
    border-bottom: 1px solid var(--color-bg);
    display: block;
    font-size: 0.8em;
  }
}

ol,
ul {
  list-style-position: inside;
  /* max-width: var(--max-width); */
}

ul {
  list-style-position: inside;
  list-style-type: square;
  /* max-width: var(--max-width); */
}

select {
  margin: 0;
  padding: 0.25em;
  padding-right: 1em;
  border-top: var(--border-width) solid var(--color-fg);
  border-bottom: var(--border-width) solid var(--color-fg);
  border-left: 0;
  border-right: 0;
  width: 90%;
  height: 2.2em;
  appearance: none;
  color: var(--color-fg-text);
  background: var(--color-bg);
  background-image: url("data:image/svg+xml, %3Csvg version='1.1' viewBox='0 0 80.812 50.508' style='fill: #f00' transform='rotate(180)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 10.102,50.508 0,40.406 40.406,0 80.812,40.406 70.71,50.508 40.406,20.204 10.102,50.508'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 0.25em top 50%, 0 0;
  background-size: 0.62em auto, 100%;
}

@media (min-width: 50em) {
  /* 800px */
  select {
    width: 62%;
  }
}

select::-ms-expand {
  display: none;
}

select:hover,
select:active,
select:focus {
  /* outline: none; */
  border-top: var(--border-width) solid var(--color-anim);
  border-bottom: var(--border-width) solid var(--color-anim);
}

/* Media Queries */
@media (min-width: 50em) {
  /* 800px */
}

@media (min-width: 80em) {
  /* 1280px */
}
