/* Class struggle */

/* Grid */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--header-height) auto 1fr var(--footer-height) var(--footer-height);
  grid-template-areas:
    'header header'
    'meta meta'
    'content content'
    'search search'
    'footer footer';
  background-color: var(--color-bg);
  color: var(--color-fg);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.header {
  grid-area: header;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  border-bottom: var(--border-width) solid var(--color-fg);
  background-color: var(--color-bg);
  z-index: 100;
}

.footer {
  grid-area: footer;
  overflow: hidden;
  border-top: var(--border-width) solid var(--color-fg);
  background-color: var(--color-bg);
}

.meta {
  grid-area: meta;
  background-color: var(--color-bg);
  overflow: hidden;
  display: block;
  position: fixed;
  background: var(--color-bg);
  top: var(--header-height);
  left: 0;
  z-index: 10;
  width: 100%;
}

.content {
  grid-area: content;
  display: block;
  background-color: var(--color-bg);
  /* margin: 0; */
  margin: var(--header-height) 0 0;
  margin: var(--th, var(--header-height)) 0 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 50em) {
  /* 800px */
  .content {
    margin: 0;
  }
}

.content.content--home {
  grid-area: content;
  background-color: var(--color-bg);
  margin: 0;
}

.meta.meta--home {
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(calc(100vh - var(--header-height) - var(--footer-height) - var(--footer-height)) / 2);
  height: calc(calc(calc(var(--vh, 1vh) * 100) - var(--header-height) - var(--footer-height) - var(--footer-height)) / 2);
  border-bottom: var(--border-width) solid var(--color-fg);
}
@media (min-width: 50em) {
  /* 800px */
  .meta.meta--home {
    border-bottom: none;
  }
}

.meta--home.meta--search {
  display: none;
}

.meta--home .carre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vmin;
  height: 50vmin;
  background-image: var(--carre-noir);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(calc(100vh - var(--header-height) - var(--footer-height) - var(--footer-height)) / 2);
  height: calc(calc(calc(var(--vh, 1vh) * 100) - var(--header-height) - var(--footer-height) - var(--footer-height)) / 2);
  /* margin: calc(calc(100vh - var(--header-height) - var(--footer-height)) / 2) 0 0; */
  /* margin: calc(calc(calc(var(--vh, 1vh) * 100) - var(--header-height) - var(--footer-height) - var(--footer-height)) / 2) 0 0; */
  padding: 0;
}

.slogan__text {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

.search {
  grid-area: search;
  overflow: hidden;
  border-top: var(--border-width) solid var(--color-fg);
  z-index: 100;
}

@media (min-width: 50em) {
  /* 800px */
  .container {
    grid-template-rows: var(--header-height) 1fr var(--footer-height) var(--footer-height);
    grid-template-areas:
      'header header'
      'meta content'
      'search content'
      'footer footer';
  }

  .meta {
    grid-area: meta;
    border-right: var(--border-width) solid var(--color-fg);
    display: flex;
    flex-direction: column;
    position: initial;
    background: var(--color-bg);
    z-index: initial;
    border-bottom: none;
  }

  .content {
    margin: 0;
  }

  .slogan {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    height: calc(calc(var(--vh, 1vh) * 100) - var(--header-height) - var(--footer-height));
    margin: 0;
    padding: 0;
  }

  .meta.meta--home {
    height: calc(100vh - var(--header-height) - var(--footer-height) - var(--footer-height));
    height: calc(calc(var(--vh, 1vh) * 100) - var(--header-height) - var(--footer-height) - var(--footer-height));
  }

  .meta--home.meta--search {
    display: flex;
  }

  .slogan__text {
    font-size: 5em;
  }

  .search {
    border-right: var(--border-width) solid var(--color-fg);
  }
}

.header__title {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-right: unset;
}

.header__home--invisible {
  display: none;
}
.header__home {
  padding: 0;
  margin: 0;
  font-size: var(--title-size);
  width: 100%;
  height: 100%;

  a {
    color: var(--color-fg);
    padding: 0.25em 0 0 0;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    outline: 0;

    span {
      padding: 0.25em 0 0 0;
    }
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-bg);
    text-decoration: none;
    background: var(--color-fg);
  }

  a::-moz-focus-inner {
    border: 0;
  }
}

.header__menu {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.header__menu .header__button {
  border-left: var(--border-width) solid var(--color-fg);
  height: var(--header-height);
  width: var(--header-height);
  font-size: calc(var(--title-size) * 1.2);
  font-weight: bold;
  padding: 0.25em 0 0 0;
  margin: 0;
}

.header__menu .header__button.button--lang {
  padding: 0.25em 0 0 0;
  font-size: calc(var(--title-size) * 1.0);
}

.menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  min-height: calc(var(--header-height) + var(--border-width));
  z-index: 100;
  background: var(--color-bg);
  overflow: hidden;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: none;

  .menu__item {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: calc(var(--header-height) + var(--border-width));
    font-size: calc(var(--title-size) * 1.2);
    border-bottom: var(--border-width) solid var(--color-fg);

    .menu__item-link {
      padding: 0;
      padding: 0.25em 0 0 0;
      text-align: center;
      width: 100%;
      display: inline-flex;
      justify-content: flex-start;
      align-items: stretch;
      text-decoration: none;
      color: var(--color-fg);
      white-space: nowrap;

      .marquee {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        height: 100%;
        animation-name: marquee;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-direction: normal;
        animation-duration: 15s;

        .marquee__element {
          display: inline-block;
        }
      }
    }

    .menu__item-link:hover,
    .menu__item-link:focus,
    .menu__item-link:active {
      color: var(--color-bg);
      text-decoration: none;
      background: var(--color-fg);

      .marquee {
        animation-play-state: paused;
      }
    }

    .menu__item-link.active {
      color: var(--color-gray);
      user-select: none;
    }
  }
}
@media (min-width: 50em) {
  .menu {
    .menu__item {
      .menu__item-link {
        .marquee {
          animation-duration: 30s;
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50vw);
  }
}

@media (min-width: 50em) {
  /* 800px */
  .header__title {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;

    .header__home--invisible {
      display: block;
      border-right: var(--border-width) solid var(--color-fg);
      padding: 0 0.6em;
      span {
        visibility: hidden;
      }
    }

    .header__home--border {
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 100%;
      background: transparent;
      top: 0;
      left: 0;
      a {
        padding: 0 0.6em;
      }
    }
  }
}
@media (min-width: 80em) {
  /* 1280px */
  .header__title {
    .header__home--invisible {
      padding: 0 0.45em;
    }
    .header__home--border {
      a {
        padding: 0 0.45em;
      }
    }
  }
}

.meta * {
  background: var(--color-bg);
}

.article__title--wrap {
  flex: 0 0 auto;
  border-bottom: var(--border-width) solid var(--color-fg);
}

@media (min-width: 50em) {
  /* 800px */
  .article__title--wrap {
    flex: 0 0 auto;
    border-bottom: unset;
  }
}

.article__title {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  min-height: var(--header-height);
  /* min-height: calc(var(--header-height) + var(--border-width)); */
  text-align: right;
  font-weight: bold;
  font-size: var(--title-size);
  /* margin: 0 0 0 calc(var(--header-height) - var(--border-width)); */
  margin: 0 0 0 var(--header-height);
  border-left: var(--border-width) solid var(--color-fg);
  /* border-bottom: var(--border-width) solid var(--color-fg); */
  padding: 0;
  /* flex: 1 1 var(--header-height); */
  flex: 0 0 auto;

  a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    padding: 0.25em var(--line-space) 0 calc(var(--header-height) + var(--line-space));
    color: var(--color-fg);
    width: 100%;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-bg);
    text-decoration: none;
    background: var(--color-fg);
  }
}

@media (min-width: 50em) {
  /* 800px */
  .article__title {
    border-bottom: var(--border-width) solid var(--color-fg);
    margin: 0;
    border-left: none;
  }
}
@media (min-width: 80em) {
  /* 1280px */
  .article__title {
    a {
      padding: 0.1em var(--line-space) 0;
    }
  }
}

.article__nav {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  flex: 0 0 auto;
  /* border-bottom: var(--border-width) solid var(--color-fg); */
}

.article__nav--border {
  border-bottom: var(--border-width) solid var(--color-fg);
}

@media (min-width: 50em) {
  .article__nav--border {
    border-bottom: none;
  }
}

.article__nav--wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-height: calc(100vh - calc(2 * var(--header-height)) - calc (4 * var(--footer-height)));
  max-height: calc(calc(var(--vh, 1vh) * 100) - calc(2 * var(--header-height)) - calc (4 * var(--footer-height)));
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 50em) {
  .article__nav--wrap {
    max-height: calc(100vh - calc(2 * var(--header-height)) - calc (2 * var(--footer-height)));
    max-height: calc(calc(var(--vh, 1vh) * 100) - calc(2 * var(--header-height)) - calc (2 * var(--footer-height)));
  }
}

.article__info {
  display: none;
  margin: 0;
  padding: var(--line-space);
  /* border-top: var(--border-width) solid var(--color-fg); */
  flex: 1 1 auto;
  text-align: right;
  max-width: 1000px;
}

.article__subtitle {
  font-style: italic;
  margin: 0 0 var(--line-space);
}

.article__metatext {
  font-style: italic;
  margin: 0;
  text-align: left;
  hyphens: none;

  p {
    hyphens: none;
  }

  em {
    font-style: normal;
  }
  
  ul {
    margin: var(--line-space) 0;
    padding: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
}

.article__traduction {
  /* margin-top: var(--line-space); */

  a {
    color: var(--color-fg);
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.article__categories {
  display: none;
  margin: 0;
  padding: var(--line-space);
  border-top: var(--border-width) solid var(--color-fg);
  flex: 0 1 auto;

  a {
    color: var(--color-fg);
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.article__categories ul {
  margin: 0;
  padding: 0;
}

.article__categories li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.article__download {
  display: none;
  margin: 0;
  padding: 0;
  border-top: var(--border-width) solid var(--color-fg);
  flex: 0 0 calc(var(--header-height) - var(--border-width));
}

.article__download .plain,
.article__download .bind {
  padding: 0;
  border-right: var(--border-width) solid var(--color-fg);
  font-weight: bold;
  font-size: var(--title-size);
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  min-height: calc(var(--header-height) - var(--border-width) - var(--border-width));

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.25em 0.6em 0;
    color: var(--color-fg);
    width: 100%;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-bg);
    text-decoration: none;
    background: var(--color-fg);
  }
}

@media (min-width: 50em) {
  /* 800px */
  .article__download .plain,
  .article__download .bind {
    min-height: calc(var(--header-height) - var(--border-width));
  }
}

@media (min-width: 80em) {
  /* 1280px */
  .article__download .plain,
  .article__download .bind {
    min-height: calc(var(--header-height) - var(--border-width));
    a {
      padding: 0.25em 0.45em 0;
    }
  }
}

.article__content {
  padding: var(--line-space);
  max-width: 1000px;
}

.article__content > h2:first-of-type {
  margin: 0 0 var(--line-space);
}

@media (min-width: 50em) {
  /* 800px */
  .article__content {
    padding: calc(calc(var(--header-height)/2)-0.6em) var(--line-space) var(--line-space);
  }
}

@media (min-width: 80em) {
  /* 1280px */
  .article__content {
    padding: calc(calc(var(--header-height)/2)-0.7em) var(--line-space) var(--line-space);
  }
}

.article__menu {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--header-height);
  height: var(--header-height);
  z-index: 20;
  border-right: var(--border-width) solid var(--color-fg);
  border-bottom: var(--border-width) solid var(--color-fg);
  background-color: var(--color-bg);
  box-sizing: content-box;
}
.article__menu:before,
.article__menu:after {
  content: '';
  position: absolute;
  z-index: 1;
  background: var(--color-fg);
  transition: transform 0.2s linear;
}
.article__menu:before {
  left: 50%;
  width: 2px;
  margin-left: -1px;
  height: 62%;
}
.article__menu:after {
  top: 50%;
  height: 2px;
  margin-top: -1px;
  width: 62%;
}

.article__menu:hover,
.article__menu:focus {
  &:before,
  &:after {
    transform: rotate(-45deg);
    background: var(--color-bg);
  }
}

@media (min-width: 50em) {
  /* 800px */
  .article__info {
    display: block;
    border-top: unset;
  }
  .article__categories {
    display: block;
  }
  .article__download {
    display: block;
  }
  .article__menu {
    display: none;
  }
}

.footer__menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.footer__menu .footer__button {
  border-right: var(--border-width) solid var(--color-fg);
  height: var(--header-height);
  width: var(--header-height);
  padding: 0.25em 0 0 0;
  margin: 0;
  font-size: var(--title-size);
  font-weight: bold;
}

.table {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-bg);
  display: none;
}

.tableofcontents {
  position: fixed;
  background: var(--color-bg);
  top: var(--header-height);
  left: 0;
  width: 100vw;
  padding: 0;
  height: calc(100vh - var(--header-height) - var(--footer-height) - var(--footer-height));
  height: calc(calc(var(--vh, 1vh) * 100) - var(--header-height) - var(--footer-height) - var(--footer-height));
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 50;

  &::-webkit-scrollbar {
    display: none;
  }

  .shuffle {
    padding: 0 var(--line-space);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--color-fg);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-bg);
      text-decoration: none;
      background: var(--color-fg);
    }
  }
}

.table__title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--header-height);
  text-align: right;
  font-weight: bold;
  font-size: var(--title-size);
  border-bottom: var(--border-width) solid var(--color-fg);
  margin: 0;
  padding: 0.25em var(--line-space) 0 0;
}

.table__random {
  border-bottom: var(--border-width) solid var(--color-fg);
  padding: 0;
  font-style: italic;
  height: var(--header-height);
}

.table__description {
  border-bottom: var(--border-width) solid var(--color-fg);
  padding: 0;
  font-style: italic;
  height: var(--header-height);
}

.table__list {
  padding: var(--line-space);
  margin: 0;
}

.table__item {
  text-decoration: none;
  display: block;
  color: var(--color-fg);
  list-style-type: none;

  &-title {
    margin: 0;

    a {
      text-decoration: none;
      color: var(--color-fg);
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration-line: line-through;
      text-decoration-style: solid;
      text-decoration-thickness: var(--border-width);
      text-decoration-color: var(--color-fg-text);
      color: var(--color-fg);
      background: unset;
    }
  }

  &-subtitle {
    font-style: italic;
  }

  &-lang {
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: var(--color-fg);
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration-line: line-through;
      text-decoration-style: solid;
      text-decoration-thickness: var(--border-width);
      text-decoration-color: var(--color-fg-text);
      color: var(--color-fg);
      background: unset;
    }
  }

  &-categories {
    margin-bottom: var(--line-space);

    a {
      text-decoration: none;
      color: var(--color-fg);
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration-line: line-through;
      text-decoration-style: solid;
      text-decoration-thickness: var(--border-width);
      text-decoration-color: var(--color-fg-text);
      color: var(--color-fg);
      background: unset;
    }
  }
}

@media (min-width: 50em) {
  /* 800px */
  .tableofcontents {
    position: fixed;
    background: var(--color-bg);
    top: var(--header-height);
    left: 0;
    width: 100vw;
    padding: 0;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    height: calc(calc(var(--vh, 1vh) * 100) - var(--header-height) - var(--footer-height));
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .table__title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--header-height);
    text-align: right;
    font-weight: bold;
    font-size: var(--title-size);
    border-bottom: var(--border-width) solid var(--color-fg);
    margin: 0;
    padding: 0.1em var(--line-space) 0 0;
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: calc(50% - var(--border-width));
    background: var(--color-bg);
  }

  .table__random {
    border-bottom: var(--border-width) solid var(--color-fg);
    padding: 0;
    height: var(--header-height);
    position: fixed;
    top: calc(2 * var(--header-height));
    left: 0;
    width: calc(50% - var(--border-width));
    background: var(--color-bg);
  }

  .table__description {
    border-bottom: var(--border-width) solid var(--color-fg);
    padding: 0;
    font-style: italic;
    min-height: var(--header-height);
    position: fixed;
    background: var(--color-bg);
    top: calc(3 * var(--header-height));
    left: 0;
    width: calc(50% - var(--border-width));
  }
  
  .table__list {
    padding: calc(calc(var(--header-height)/2)-0.6em) var(--line-space) var(--line-space);
    margin: 0;
    margin-left: calc(50% - var(--border-width));
    background: var(--color-bg);
    border-left: var(--border-width) solid var(--color-fg);
  }
}

@media (min-width: 80em) {
  /* 1280px */
  .table__list {
    padding: calc(calc(var(--header-height)/2)-0.7em) var(--line-space) var(--line-space);
  }
}

.content--taxonomy {
  padding: var(--line-space);

  .search__results {
    padding: 0;
  }
}

@media (min-width: 50em) {
  /* 800px */
  .content--taxonomy {
    padding: calc(calc(var(--header-height)/2)-0.6em) var(--line-space) var(--line-space);
  }
}

@media (min-width: 80em) {
  /* 1280px */
  .content--taxonomy {
    margin: 0;
    padding: calc(calc(var(--header-height)/2)-0.7em) var(--line-space) var(--line-space);
  }
}

.taxonomy__list {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style-type: none;
}

.taxonomy__list.taxonomy__list--nomargin {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.taxonomy__term {
  text-indent: -20px;
  margin: 0;
  padding: 0;
  font-weight: normal;

  a {
    text-decoration: none;
    color: var(--color-fg);
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.taxonomy__title {
  &:first-child {
    margin: 0;
  }
  margin: var(--line-space) 0 0;
  padding: 0;

  a {
    text-decoration: none;
    color: var(--color-fg);
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.taxonomy__subtitle {
  font-style: italic;
}

.taxonomy__authors {
  padding: 0;
  margin: 0;
}
.taxonomy__lang {
  margin-bottom: 0;

  a {
    text-decoration: none;
    color: var(--color-fg);
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.taxonomy__categories {
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    color: var(--color-fg);
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

/* .search__title { */
/*   margin: 0; */
/*   padding: 0 var(--line-space); */
/*   display: flex; */
/*   align-items: center; */

/*   a { */
/*     text-decoration: none; */
/*     color: var(--color-fg-text); */
/*   } */

/*   a:hover, */
/*   a:focus, */
/*   a:active { */
/*     color: var(--color-anim); */
/*     text-decoration: none; */
/*     background: unset; */
/*   } */
/* } */
.search__result {
  margin: var(--line-space) 0 0;

  &:first-child {
    margin: 0;
  }
}

.search__title--result {
  padding: 0;
  margin: 0;
  height: unset;

  a {
    color: var(--color-fg);
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.search__subtitle {
  font-style: italic;
}

.search__authors {
  padding: 0;
  margin: 0;
}

.search__lang {
  padding: 0;
  margin: 0;

  a {
    color: var(--color-fg);
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.search__categories {
  padding: 0;
  margin: 0;

  a {
    color: var(--color-fg);
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-fg-text);
    color: var(--color-fg);
    background: unset;
  }
}

.search__summary {
  margin: 0;
}

.search__search {
  width: 100%;
}

.search__input {
  appearance: none;
  width: 100%;
  max-width: 100%;
  height: var(--footer-height);
  font-family: inherit;
  font-size: var(--title-size);
  line-height: normal;
  font-weight: normal;
  border: 0;
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0.5em 0.6em;
  color: var(--color-fg);
  text-align: left;
  /* outline: none; */
}

@media (min-width: 80em) {
  /* 1280px */
  .search__input {
    padding: 0.5em 0.45em;
  }
}

.search__input:focus,
.search__input:active {
  outline: none;
  /* color: var(--color-bg); */
  /* background: var(--color-fg); */
}

.search__results {
  display: none;
  padding: var(--line-space);
}

@media (min-width: 50em) {
  /* 800px */
  .search__results {
    padding: calc(calc(var(--header-height)/2)-0.6em) var(--line-space) var(--line-space);
  }
}

@media (min-width: 80em) {
  /* 1280px */
  .search__results {
    padding: calc(calc(var(--header-height)/2)-0.7em) var(--line-space) var(--line-space);
  }
}

.article__content {
  .search__results {
    padding: 0;
  }
}

.read-more {
  a {
    text-decoration: none;
    color: var(--color-anim);
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-bg);
    text-decoration: none;
    background: var(--color-fg);
  }
}

.search__noresult {
  margin: 0;
  padding: 0;
}

/* Options */
.epigraphe {
  text-align: right;
  display: block;
  font-style: italic;
  margin-left: 20%;
  margin-bottom: var(--line-space);

  em {
    font-style: normal;
  }
}

.droite {
  text-align: right;
  display: block;
  margin-left: 20%;
}

.centre {
  text-align: center;
  display: block;
  margin: 0 20%;
}

.centre--image {
  text-align: center;
  display: block;
}

.image--presentation {
  margin: 0 20% var(--line-space);
}

.cadre {
  border: var(--border-width) solid var(--color-fg);
  padding: var(--line-space);
  margin: var(--line-space) 0;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--line-space);
  grid-template-rows: masonry;
}

.two-columns--shift {
  p:nth-child(even) {
    margin-top: calc(5 * var(--line-space));
  }
}

.dialogue {
  margin-left: 10%;
}

@media (min-width: 50em) {
  /* 800px */
  .dialogue {
    margin-left: 20%;
  }
}

.droite--signature {
  text-align: right;
  display: block;
  margin-right: 10%;
}

.droite--paragraphe {
  text-align: left;
  display: block;
  margin: calc(2 * var(--line-space)) 0;
  margin-left: 10%;
}

.droite--italique {
  font-style: italic;

  em {
    font-style: normal;
  }
}

.gauche {
  text-align: left;
  display: block;
}

.gauche--paragraphe {
  text-align: left;
  display: block;
  margin: var(--line-space) 0;
  margin-right: 10%;
}

@media (min-width: 50em) {
  /* 800px */
  .droite--paragraphe {
    margin-left: 20%;
  }

  .gauche--paragraphe {
    margin-right: 20%;
  }
}

.asterisme {
  text-align: center;
  margin: var(--line-space) 0;
}

.hangindent {
  padding-left: 2em;
  text-indent: -2em;
  margin-right: 0em;
  hyphens: none;
}

.hangindent p {
  hyphens: none;
  margin: 0;
}

.button {
  cursor: pointer;
  outline: 0;
  color: var(--color-anim);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button::-moz-focus-inner {
  border: 0;
}

.button:hover,
.button:focus {
  outline: 0;
  color: var(--color-bg);
  background-color: var(--color-fg);
}

.button--anim {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

.nohyphens {
  hyphens: none;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.hyphens {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

.footnotes {
  font-size: 0.8em;
}

.footnote-ref {
  margin-left: 0.1em;
  color: var(--color-fg);
  text-decoration: none;
}

.footnote-ref:hover,
.footnote-ref:focus,
.footnote-ref:active {
  text-decoration: none;
  color: var(--color-bg);
  background: var(--color-fg);
}

.footnote-ref a[href^='#fn:'] {
  text-decoration: none;
  color: var(--color-anim);
}

.footnote-ref a[href^='#fn:']:hover,
.footnote-ref a[href^='#fn:']:focus,
.footnote-ref a[href^='#fn:']:active {
  color: var(--color-bg);
  text-decoration: none;
  background: var(--color-fg);
}

.footnote-backref {
  margin-left: 0.1em;
  color: var(--color-fg);
  text-decoration: none;
}

.footnote-backref:hover,
.footnote-backref:focus,
.footnote-backref:active {
  text-decoration: none;
  color: var(--color-bg);
  background: var(--color-fg);
}

.footnotes p {
  margin: 0;
}

.footnotes p:last-of-type {
  margin-bottom: 0;
  display: inline;
}

.footnote-return {
  text-decoration: none;
  color: var(--color-anim);
  font-style: normal;
}

.footnote-return:hover,
.footnote-return:focus,
.footnote-return:active {
  color: var(--color-bg);
  text-decoration: none;
  background: var(--color-fg);
}

.none {
  display: none;
}

.hidden {
  position: absolute;
  top: 0;
  right: 100%;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.show {
  display: block;
}

.menu.show--menu {
  display: flex;
}

.noscroll {
  overflow: hidden;
}

.glossary {
  h2 {
    margin: var(--line-space) 0 0;
    padding: 0;
  }
  h2:first-of-type {
    margin: 0;
    padding: 0;
  }
}

.glossary-link {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-bg);
    text-decoration: none;
    background: var(--color-fg);
  }
}

.smallcaps {
  font-variant: small-caps;
  font-variant-caps: small-caps;
}

