<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    {{ with .Get "link"}}<a href="{{.}}" target="_blank" rel="noopener">{{ end }}
    <img class="lazy image"
         {{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}
         {{ with .Get "width" }} width="{{.}}"{{ end }}{{ with .Get "height" }} height="{{.}}"{{ end }}
         src="{{ .Get "src" }}.jpg"
         sizes="(min-width: 50em) 50vw, 100vw"
         srcset="{{ .Get "src" }}-small.jpg 400w,
                 {{ .Get "src" }}-medium.jpg 800w,
                 {{ .Get "src" }}-large.jpg 1200w,
                 {{ .Get "src" }}.jpg 2400w">
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
